.markdown-section th{
    background-color: #7298da;
    color: white;
    border: none;
    padding: 8px;
}

.markdown-section td{
    border: none;
    color: black;
    padding: 8px;
}

.markdown-section tr:nth-child(even) {
    background-color: #f2f2f2;
}

.markdown-section table{
    width: 100%;
}

blockquote{
    --theme-color: #7298da;
}